/* sidebar styles */

.side-bar.webix_view {
  background-color: #f4f5f9;
}

.sidebar-item.webix_list_item {
  border-bottom: none;
  font-weight: 500;
}

.sidebar-item.webix_list_item:hover {
  background-color: #e2e2e3;
}

.connect-status.webix_view {
  display: flex;
  justify-content: center;
  background-color: #f4f5f9;
  border-top: none;
  color: #13d513;
}

/* table styles */

.rank {
  background: #F4F5F9;
  border-right: 1px solid #DADEE0;
}

.space {
  display: flex;
  justify-content: space-between;
}

.space span {
  align-self: center;
}

.hover-row {
  background: #eaeaec;
}

/* users list styles */
.user-list-style:hover {
  background: #eaeaec;
}

/* footer styles */

.footer.webix_view div {
  display: flex;
  justify-content: center;
}

.common {
  background: #ccccf5;
}