/* sidebar styles */

.side-bar.webix_view {
  background-color: #f4f5f9;
}

.side-bar .webix_list_item {
  border-bottom: none;
  font-weight: 500;
}

.side-bar .webix_list_item:hover {
  background-color: #e2e2e3;
}

.connect-status.webix_view {
  display: flex;
  justify-content: center;
  background-color: #f4f5f9;
  border-top: none;
  color: #13d513;
}

/* table styles */

.rank {
  background: #f4f5f9;
  border-right: 1px solid #dadee0;
}

.space {
  display: flex;
  justify-content: space-between;
}

.space span {
  align-self: center;
}

.end {
  text-align: end;
}

.hover-row {
  background: #eaeaec;
}

/* users */
.yellow {
  background-color: lightyellow;
}

/* footer styles */

.footer.webix_view div {
  display: flex;
  justify-content: center;
}

.common {
  background: #f0f0f0;
}

.border {
  border: 1px solid grey;
}